@import "base/reset";
@import "base/variables";
@import "base/mixins";
@import "base/fonts";

.header-img {
    width: 100%;
    height: 100vh;
    background-image: url("../picture/header.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    @include flexbox(center, flex-start, wrap);
}
.inner-title {
    width: 100%;
    text-align: center;
    padding-bottom: 35px;
    margin: auto;
    @include text($m7, 26px, 32px, #444444);
}
.top-title {
    width: 1100px;
    margin-top: 50px;
    @include flexbox(space-between, 0, 0);
}
.top-title span {
    @include text($m7, 20px, 24px, #ffffff);
}
.top-title-btn a {
    display: inline-block;
    border: 2px solid transparent;
    border-radius: 40px;
    text-decoration: none;
    padding: 10px 18px;
    transition: border 0.1s linear;
    @include text($m4, 14px, 17px, #ffffff);
}
.top-title-btn a:hover {
    border: 2px solid #fff;
    border-radius: 40px;
}
.main-title {
    width: 470px;
    text-align: center;
    margin: auto;
    margin-top: 10%;
}
.main-title h1 {
    @include text($m7, 52px, 63px, #ffffff);
}
.main-title span {
    width: 396px;
    @include text($r3, 24px, 24px, #f7f3f2);
}
.title-btn {
    display: inline-block;
    padding: 12px 19px;
    margin-top: 33px;
    border-radius: 40px;
    background-color: #ff4e50;
    text-decoration: none;
    transition: background-color 0.1s linear, color 0.1s linear;
    @include text($m7, 14px, 17px, #fff);
}
.title-btn:hover {
    background-color: #fff;
    color: #ff4e50;
}

// dream

.dream {
    width: 940px;
    margin: 100px auto;
    @include flexbox(space-between, 0, wrap);
}
.step {
    width: 300px;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 25px;
    @include flexbox(left, flex-end, wrap);
}
.step-info {
    width: 250px;
    margin: auto;
}
.step-info h2 {
    margin-bottom: 25px;
    @include text($m7, 24px, 26px, #ffffff);
}
.step-info span {
    @include text($r3, 14px, 14px, #e3e3e3);
}
.step-btn {
    display: inline-block;
    background-color: #ff4e50;
    border: none;
    border-radius: 40px;
    margin-bottom: 25px;
    padding: 5px 12px;
    letter-spacing: 2px;
    text-decoration: none;
    transition: background-color 0.1s linear, color 0.1s linear;
    @include text($m4, 10px, 12px, #ffffff);
}
.step-btn:hover {
    color: #ff4e50;
    background-color: #ffffff;
}
.step1 {
    background-image: url("../picture/step1.png");
}
.step2 {
    background-image: url("../picture/Step2.png");
}
.step3 {
    background-image: url("../picture/Step3.png");
}

// partner

.partner {
    max-width: 940px;
    margin: 85px auto;
    @include flexbox(space-around, 0, wrap);
}
.block {
    width: 220px;
    text-align: center;
}
.friend {
    width: 120px;
    height: 120px;
    margin: auto;
    background-size: cover;
    background-repeat: no-repeat;
}
.friend1 {
    background-image: url("../picture/Avatar1.png");
}
.friend2 {
    background-image: url("../picture/Avatar2.png");
}
.friend3 {
    background-image: url("../picture/Avatar3.png");
}
.friend4 {
    background-image: url("../picture/Avatar4.png");
}
.friend-info {
    width: 220px;
}
.friend-info h3 {
    margin-top: 17px;
    padding-bottom: 30px;
    @include text($m7, 14px, 17px, #444444);
}
.friend-info span {
    @include text($r3, 14px, 14px, #666666);
}
.partner-btn {
    background-color: #ffffff;
    border: 2px solid #ff4e50;
    padding: 12px 24px;
    text-decoration: none;
    border-radius: 40px;
    margin-top: 35px;
    transition: background-color 0.1s linear, color 0.1s linear;
    @include text($m7, 14px, 17px, #ff4e50);
}
.partner-btn:hover {
    background-color: #ff4e50;
    color: #ffffff;
}

// holiday

.holiday {
    max-width: 940px;
    height: 1050px;
    margin: auto;
    margin-bottom: 100px;
    @include flexbox(space-between, space-between, wrap);
}
.small,
.big {
    height: 310px;
    box-shadow: inset 100% #979797;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}
.small {
    width: 300px;
}
.big {
    width: 620px;
}
.holiday-info {
    @include text($m7, 22px, 27px, #ffffff);
}
.img-1 {
    background-image: url("../picture/img1.png");
}
.img-2 {
    background-image: url("../picture/img2.png");
}
.img-3 {
    background-image: url("../picture/img3.png");
}
.img-4 {
    background-image: url("../picture/img4.png");
}
.img-5 {
    background-image: url("../picture/img5.png");
}
.img-6 {
    background-image: url("../picture/img6.png");
}
.img-7 {
    background-image: url("../picture/img7.png");
}

// create

.create {
    width: 940px;
    margin: auto;
    text-align: center;
}
.create span {
    @include text($r3, 18px, 14px, #666666);
}
.form input {
    width: 300px;
    height: 40px;
    margin-top: 25px;
    background-color: #ffffff;
    border: 1px solid #d4d4d4;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.073313);
    border-radius: 3px;
}
.form-btn {
    display: inline-block;
    border: none;
    background-color: #ff4e50;
    border: 1px solid transparent;
    border-radius: 40px;
    padding: 12px 30px;
    text-decoration: none;
    transition: background-color 0.1s linear, color 0.1s linear, border 0.1s linear;
    @include text($m7, 14px, 17px, #ffffff);
}
.form-btn:hover {
    background-color: #ffffff;
    color: #ff4e50;
    border: 1px solid #ff4e50;
}

// footer

.footer {
    width: 100%;
    margin-top: 100px;
    border-top: 2px solid #ff4e50;
}
.footer-info {
    width: 940px;
    margin: auto;
    @include flexbox(space-between, 0, 0);
}
.footer-block {
    width: calc(940px / 4);
    margin-top: 40px;
}
.dreamshare {
    @include text($m4, 16px, 20px, #ff4e50);
}
.partner-company {
    @include text($m7, 14px, 17px, #444444);
}
.company-info {
    margin-top: 20px;
    margin-bottom: 35px;
}
.company-info span {
    width: 130px;
    display: flex;
    flex-direction: column;
}
.footer-block span {
    @include text($m4, 14px, 26px, #999999);
}
.footer-img {
    width: 150px;
    height: 150px;
    background-image: url("../picture/Bitmap.png");
    background-position: 35px 20px;
    background-size: 110px 24px;
    background-repeat: no-repeat;
}
.footer-img span {
    @include text($m7, 10px, 12px, #cccccc);
    margin-left: 70px;
}

// adaptiv

@media (max-width: 768px) {
    .top-title {
        width: 750px;
    }
    .dream {
        width: 750px;
        justify-content: space-around;
    }
    .step {
        width: 236px;
    }
    .partner {
        width: 490px;
    }
    .block {
        width: 236px;
    }
    .holiday {
        width: 748px;
    }
    .small {
        width: 236px;
    }
    .big {
        width: 492px;
    }
    .create {
        width: 768px;
        text-align: center;
    }
    .inner-title {
        font-size: 22px;
        line-height: 27px;
    }
    .footer-info {
        width: 748px;
    }
    .footer-img {
        background-position: 5px 20px;
    }
    .footer-img span {
        margin-left: 40px;
    }
}
@media (max-width: 430px) {
    .top-title {
        flex-direction: column-reverse;
        text-align: center;
        align-content: space-around;
        margin-top: 10px;
    }
    .top-title-btn {
        padding-bottom: 60px;
    }
    .inner-title {
        font-weight: bold;
        width: 260px;
    }
    .main-title h1 {
        font-size: 30px;
        line-height: 37px;
    }
    .main-title span {
        font-size: 18px;
        line-height: 24px;
    }
    .title-btn {
        width: 250px;
    }
    .dream {
        width: 300px;
    }
    .step {
        width: 300px;
        height: 240px;
        margin: 5px;
    }
    .block {
        margin-bottom: 20px;
    }
    .partner {
        width: 300px;
    }
    .partner-btn {
        padding: 12px 60px;
    }
    .holiday {
        width: 300px;
    }
    .big,
    .small {
        width: 300px;
        height: 120px;
    }
    .create {
        width: 280px;
    }
    .form input {
        width: 280px;
    }
    .form-btn {
        padding: 12px 80px;
        margin-top: 10px;
    }
    .footer-info {
        width: 250px;
        flex-wrap: wrap;
        text-align: center;
        margin-top: 20px;
    }
    .footer-block {
        width: 250px;
        margin: 5px auto 5px;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .company-info {
        margin: auto;
    }
    .company-info span {
        display: inline;
        margin: 0 5px 5px 0;
    }
    .footer-img {
        background-position: 50% 20%;
    }
    .footer-img span {
        margin: auto;
    }
    .header-img {
        background-image: url("../picture/smal/header.png");
    }
    .step1 {
        background-image: url("../picture/smal/step1.png");
    }
    .step2 {
        background-image: url("../picture/smal/step2.png");
    }
    .step3 {
        background-image: url("../picture/smal/step3.png");
    }
    .img-1 {
        background-image: url("../picture/smal/img1.png");
    }
    .img-2 {
        background-image: url("../picture/smal/img2.png");
    }
    .img-3 {
        background-image: url("../picture/smal/img3.png");
    }
    .img-4 {
        background-image: url("../picture/smal/img4.png");
    }
    .img-5 {
        background-image: url("../picture/smal/img5.png");
    }
    .img-6 {
        background-image: url("../picture/smal/img6.png");
    }
    .img-7 {
        background-image: url("../picture/smal/img7.png");
    }
}
